* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(16,12,8);
}

.header {
  background-color: rgba(45, 57, 69, 255);
  text-align: center;
  padding: 30px;
  width: 100%;
}

.header h1 {
  color: white;
  font-size: 20px;
}

.main{
  max-width: 450px;
  margin: auto;
  padding: 15px;
}


.form-head {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: 15px;
  margin-top: 5%;
}

.form-head :last-child {
    color: #8a97a0;
    font-size: 0.9rem;
}

.separetor{
    border-top: 6px solid white;
    border-bottom: 3.5px solid white;
    padding: 2px;
    margin: 45px 0 45px 0;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.3rem;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgb(155, 155, 155);
}

.light {
  font-weight: 300;
  display: inline;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select{
  font-size: 1rem;
  background: rgb(236, 236, 236);
  border: none;
  height: auto;
  width: 100%;
  border-radius: 5px;
  padding: 28px;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  resize: none;
  margin-bottom: 28px;
}


input[name="zip"]{
  width: 50%;
}

.contact-info>div input:focus, .contact-info>div select:focus{
  outline: 3px solid rgb(43, 43, 135);
}

input[type="email"]::placeholder, input[name="name"]::placeholder{
  font-style: italic;
  text-align: right;
}



input[type="number"]{
  width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 15px;
  margin-bottom: 25px;
}

hr{
  margin: 10% 0 10% 0;
  border: 1.6px solid white;
}

.subtitle{
  margin-bottom: 25px;
}

.newsletter-checkbox, .newsletter-radio{
  margin-bottom: 20px;
}



.textarea :first-child{
  margin-bottom: 17px;
}

.submit-section{
  text-align: center;
}

.submit-section button{
  font-family: inherit;
  width: 100%;
  padding: 4.5%;
  border-radius: 5px;
  background-color: rgba(78,187,181,255);
  border: none;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.contact-info input, select{
  transition: padding 1.5s;
}

.contact-info input:hover:not(input[id="zip"]), select:hover{
  padding: 5%;
}

.submit-section p{
  color: #8a97a0;
}


@media screen and (min-width: 768px){

  .main{
    max-width: 768px;
  }

  .contact-info{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .contact-info label{
    margin-bottom: 0;
  }

  .contact-info label{
    display: flex;
    align-items: center;
    width: 20%;
  }

  .contact-info>div{
    display: flex;
    /*margin-bottom: 45px;*/
  }

  .contact-info>div input, select{
    width: 80%;
    margin-bottom: 0;
  }

  .contact-info>div input[name="zip"]{
    width: 20%;
  }

}